@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

$primary: rgb(255, 69, 27);
$secondary: rgb(73, 75, 80);
$light: rgb(167, 175, 189);
$warning: rgb(255, 179, 36);

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

body {
    background-color: rgb(29, 27, 27);
    color: #fff;
}

.background_shape {
    position: absolute;
    width: 76%;
    top: 0;
    left: 0;
    height: calc(100vh + 0px);
    background-color: #34353a;
    clip-path: polygon(100% 0%, 81% 86%, 0% 100%, 0% 0%);
}

.btn-primary:hover {
    background-color: $warning;
    border-color: $warning;
}

.subtitle {
    font-size: 25px;
    font-weight: 600;

    @media (width>1400px) {
        font-size: 30px;
    }
}

.heading {
    font-size: 70px;
    font-weight: 700;
    line-height: 1;

    @media (width>1400px) {
        font-size: 120px;
    }
}

.heading+p {
    color: $light;
    font-size: 20px;

    @media (width>1400px) {
        font-size: 24px;
    }
}
.hero-play-btn{
    display: inline-block;
    width: 60px;
    height: 60px;
}

.hero-img div {
    position: relative;
    z-index: 0;
    width: 265px;

    &::before {
        content: "";
        background-color: $warning;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
        scale: 0.85;
        rotate: -45deg;
        animation: rotate-half 13s linear infinite alternate;

        @keyframes rotate-half {
            100% {
                rotate: -25deg;
            }
        }
    }
}