@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

$primary: rgb(255, 69, 27);
$secondary: rgb(73, 75, 80);
$light: rgb(167, 175, 189);
$warning: rgb(255, 179, 36);

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

body {
    background-color: rgb(29, 27, 27);
    color: #fff;
}

.background_shape {
    position: absolute;
    width: 76%;
    top: 0;
    left: 0;
    height: calc(100vh + 0px);
    background-color: #34353a;
    clip-path: polygon(100% 0%, 81% 86%, 0% 100%, 0% 0%);
}

.btn-primary:hover {
    background-color: $warning;
    border-color: $warning;
}

.subtitle {
    font-size: 25px;
    font-weight: 600;

    @media (width>1400px) {
        font-size: 30px;
    }
}

.heading {
    font-size: 70px;
    font-weight: 700;
    line-height: 1;

    @media (width>1400px) {
        font-size: 120px;
    }
}

.heading+p {
    color: $light;
    font-size: 20px;

    @media (width>1400px) {
        font-size: 24px;
    }
}

.hero-play-btn {
    display: inline-block;
    width: 60px;
    height: 60px;
}

.hero-img div {
    position: relative;
    z-index: 0;
    width: 265px;

    &::before {
        content: "";
        background-color: $warning;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
        scale: 0.85;
        rotate: -45deg;
        animation: rotate-half 13s linear infinite alternate;

        @keyframes rotate-half {
            100% {
                rotate: -25deg;
            }
        }
    }
}

// -------------tabs-----------
.nav-menu {
    display: block;
    width: 95px;
    height: 95px;
    padding: 35px;
    margin-right: 6px;
    background-color: $secondary;
    border-radius: 10px !important;
    line-height: 30px;
    overflow: hidden;
    position: relative;
    transition: all .3s;

    span {
        position: absolute;
        font-weight: 700;
        font-size: 18px;
        top: 50%;
        left: 100%;
        transform: translate(10px, -50%);
        transition: all .3s;
        white-space: nowrap;
    }

    &:hover,
    &.active {
        cursor: pointer;
        width: 200px;

        span {
            left: 50%;
            transform: translate(-50%, -50%);
            margin-left: 20px;
        }

        @media (width>=1400px) {
            width: 220px;

            span {
                margin-left: 40px;
                font-size: 20px;
            }
        }
    }

    i {
        font-size: 30px;
    }

    @media (width>=1400px) {
        width: 135px;
        height: 135px;
        padding: 48px;
        line-height: 40px;

        i {
            font-size: 40px;
        }
    }

}

.main-title {
    font-size: 35px;
    font-weight: 700;

    @media (width>=1400px) {
        font-size: 47px;
    }
}

// ----------about----------------
.about-img{
    width: 60%;
}
.about-details {
    width: fit-content;
    padding: 25px 34px;
    border-radius: 15px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-10%);

    span {
        font-size: 14px;
        font-weight: 400;
        opacity: .85;
    }
    h6{
        margin-bottom: 0;
        font-size: 15px;
    }

    li {
        border-bottom: 1px dashed rgba(255, 255, 255, .3);
        padding: 10px 0;
    }
    li:first-child{
        padding-top: 0;
    }
    li:last-child{
        border: none;
        padding-bottom: 0;
    }

    @media (width>=1400px) {
        padding: 36px 40px 35px;

        h6{
            font-size: 16px;
        }

        li{
            padding: 13px 0;
        }
    }
}
.about-des{
    p{
        margin: 25px 0;
    }
    button{
        margin-top: 10px;
    }
}
