/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  text-decoration: none;
}

body{
  background-color: #27272e;
}


.bg-white {
  background-color: #fff;
}

.container {
  max-width: 1140px;
  padding-left: 12px;
  padding-right: 12px;
  margin: auto;
}

.grid {
  display: grid;
}

.grid-gap-2 {
  grid-gap: 2rem;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 2rem;
}

.col-2,
.col-3,
.col-4,
.col-6 {
  padding-left: 12px;
  padding-right: 12px;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-6 {
  width: 50%;
}

.mx-auto {
  margin: auto;
}

.mt-20 {
  margin-top: 20px;
}

.py-40 {
  padding: 40px 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.text-center {
  text-align: center;
}

.border-radius-10 {
  border-radius: 10px;
}

@media (min-width:1400px) {
  .container {
    max-width: 1320px;
  }

  .col-xl-3 {
    width: 25%;
  }
}